---
layout: categorypage
title: Defence - Defence Tribune
---

<div>

    <h1> Defence </h1>

    <ul class='FeedList'>
        {% for post in site.posts %}
            {% if post.categories contains "defence" %}
                <li>
                    <a href='{{ post.url }}' class='FeedCard'>
                        <div class='FeedListTitle'> {{ post.title }} </div>
                        <div class='FeedListExcerpt'> {{ post.excerpt | truncate: 480 }} </div>
                        <div class='FeedListDate'> {{post.date | truncate: 10, ''}} <br></div>
                        <div class='FeedReadMoreMessage'> <i> Read more... </i> </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
