---
layout: categorypage
title: Defence - Defence Tribune
---

<div>

    <h1> Defence </h1>

    <ul class='FeedList'>
        {% for post in site.posts %}
        {% if post.categories contains "defence" %}
         <li>
            <a href='{{ post.url }}' class='FeedCard'>
                <div class='FeedListTitle'> {{ post.title }} </div>
                <div class='FeedListSummary'> {{ post.summary }} </div>
                <div class='FeedListDate'> {{post.date | truncate: 10, ''}} </div>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>
