<div class='NavBar'>

    <div class='NavBarContent'>

        <div class='NavLogoWrapper'> <a class='NavLogo' href='/' > <img width='24' height='24' src='{{ site.asset }}/logo.png' alt='Home' /> </a> </div>

        <div class='NavLinkWrapper'> <a class='NavLinkEntry' href='/defence'> Defence </a> </div>
        <div class='NavLinkWrapper'> <a class='NavLinkEntry' href='/politics'> Politics </a> </div>
        <div class='NavLinkWrapper'> <a class='NavLinkEntry' href='/historical'> Historical </a> </div>
        <div class='NavLinkWrapper'> <a class='NavLinkEntry' href='/archive'> Archive </a> </div>

        <label id='MenuContainer'>‎
            <input type='checkbox' id='MenuToggler' />
            <div id='MenuOverlay'>
                <div class='NavMenuLinkWrapper'>
                    <a class='NavLinkEntry' href='/defence' > Defence </a>
                    <a class='NavLinkEntry' href='/politics'> Politics </a>
                    <a class='NavLinkEntry' href='/historical'> Historical </a>
                    <a class='NavLinkEntry' href='/archive'> Archive </a>
                </div>
            </div>
            <span id='CustomMenuIcon'>
                <div class='HamburgerBar1'></div>
                <div class='HamburgerBar2'></div>
                <div class='HamburgerBar3'></div>
            </span>
        </label>

    </div>

</div>

<style type='text/css' media='screen'>
    * {
        margin:  0;
        padding: 0;
    }

    .NavBar {
        height: 36px;
        width: 100%;

        padding-top: 2px;
        padding-bottom: 4px;

        position: fixed;

        z-index: 1;

        background: rgba(33,33,33, 70%);

        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;

        transition: all ease-out 200ms;
    }

    .NavBar:hover {
        background: rgba(33,33,33, 100%);
    }

    .NavBarContent {
        height: inherit;
        margin-left: 16vw;
        margin-right: 16vw;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        align-items: center;
    }

    .NavLinkWrapper {
        display: block;

        height: inherit;

        margin: 0px 1vw 0px 0vw;
    }

    .NavLinkWrapper:nth-last-child(2) {
        margin-left: auto;
        margin-right: 0;
    }

    .NavLinkEntry {
        height: inherit;
        
        padding-left: 1vw;
        padding-right: 1vw;

        display: flex;
        align-items: center;

        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16pt;
        color: white;

        transition: all ease-out 500ms;
    }

    .NavLinkEntry:hover {
        border-radius: 14px;
        color: #c1d3fe;
        background-color: #424242;
    }

    .NavLogoWrapper {
        display: block;

        height: inherit;

        margin: 0px 1vw 0px 0vw;
    }

    .NavLogo {
        height: inherit;

        display: flex;
        align-items: center;
    }

    #MenuContainer {
        display: none;
    }

    #MenuOverlay {
        display: none;

        position: fixed;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0,0,0, 85%);

        z-index: 2;

        cursor: pointer;
    }


    @media screen and (max-width: 700px) {
        .NavBar {
            height: 30px;

            width: 100%;

            padding-top: 2px;
            padding-bottom: 4px;

            position: fixed;
            
            background: rgba(33,33,33, 70%);

            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
        }

        .NavBar:hover {
            background: rgba(33,33,33, 70%);
        }

        .NavBarContent {
            margin-left: 2vw;
            margin-right: 2vw;

            justify-content: center;
            align-items: center;
            
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .NavLinkWrapper {
            display: none;
        }

        .NavLinkEntry {
            margin-bottom: 2vh;

            display: flex;
            align-items: center;

            background-color: rgba(66, 66, 66, 10%);

            text-decoration: none;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16pt;
            text-align: center;
            color: white;

            transition: none;
        }

        .NavLinkEntry:hover {
            border-radius: 0;
            color: #c1d3fe;
            background-color: rgba(66, 66, 66, 10%);
        }

        .NavMenuLinkWrapper {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            vertical-align: middle;

            margin-top: auto;
            margin-bottom: auto;
            z-index: 2;
        }

        #MenuContainer {
            position: relative;
            display: block;

            margin-left: auto;
            margin-right: 0;

            cursor: pointer;

            height: 24px;
            width: 24px;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #MenuToggler {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }

        #CustomMenuIcon {
            position: absolute;
            height: inherit;
            width: inherit;

            background-color: transparent;
        }

        #MenuToggler:checked ~ #CustomMenuIcon .HamburgerBar1 {
            background-color: #d98880;

            transform: rotate(45deg) translateY(10px);
            left: 9px
        }

        #MenuToggler:checked ~ #CustomMenuIcon .HamburgerBar2 {
            opacity: 0;
        }

        #MenuToggler:checked ~ #CustomMenuIcon .HamburgerBar3 {
            background-color: #d98880;

            transform: rotate(-45deg) translateY(-10px);
            left: 9px
        }

        #MenuToggler:checked ~ #MenuOverlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
        }

        #MenuToggler:checked ~ .NavMenuLinkWrapper {
            display: block;
        }

        .NavLogoWrapper {
            margin-left: 0;
            margin-right: auto;
        }

        .HamburgerBar1, .HamburgerBar2, .HamburgerBar3 {
            position: relative;

            z-index: 2;

            width: 20px;
            height: 4px;

            margin:  3px 0;

            background-color: white;

            transition: 250ms;

            cursor: default;
        }
    }
</style>
